name: Terraform with Ansible

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  terraform:
    name: "Terraform Apply"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{secrets.AWS_ACCESS_KEY_ID}}
          aws-secret-access-key: ${{secrets.AWS_SECRET_ACCESS_KEY}}
          aws-region: eu-west-1
      
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with: 
          terraform_version: "1.6.6"
      
      - name: Terraform Initialization
        run: terraform init -reconfigure
      
      - name: Terraform Validation
        run: terraform validate

      - name: Terraform Plan
        working-directory: terraform
        run: terraform plan -var-file="phil.tfvars"

      - name: Terraform Apply
        working-directory: terraform
        run: terraform apply -var-file="phil.tfvars" -auto-approve


      
